

.no-banner {
  .container {
    padding-top: 2.25em;
  }
  &.blog .container,
  &.single-post .container {
    padding-top: 0;
  }
}

.banner {
  background-color: $black;
  background-image: url('../images/headerbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center;
  position: relative;
  max-height: 18rem;
  overflow: hidden;


  &:after {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 52%;
    max-height: 18rem;
    background-image: linear-gradient(to top, rgba($primary-color,.875) 0, rgba($primary-color,.5) 66.666% );
  }

  @media #{$xxlarge} {
    max-height: 22rem;
    &:after {
      max-height: 22rem;
    }
  }

}

.banner__text {
    position: absolute;
    bottom:15%;
    left:0;
    width:100%;
    .banner__title {
      text-transform: uppercase;

      color: $ghost;
      //font-size: rem-calc(60);
      margin: 0;
      line-height: 1;
      // @media #{$medium} {
      //   font-size: rem-calc(40);
      // }
      // @media #{$large} {
      //   font-size: rem-calc(50);
      // }
      // @media #{$xlarge} {
      //   font-size: rem-calc(60);
      // }
    }

    .banner__updated, .banner__parentlink {
      //text-transform: uppercase;
      color:$snow;
      font-weight: 300;
      font-size: 1.333em;
      line-height: 1;
      display: inline-block;
      margin-bottom: .75em;
      padding-bottom: .25em;
      border-bottom: 1px solid currentColor;

      &:hover {
        color:white;
      }
    }


}
