.no-banner {
  .container {
    padding-top: 2.25em;
  }
  &.blog .container,
  &.single-post .container {
    padding-top: 0;
  }
}

.banner {
  background-color: $black;
  background-image: url('../images/inversebg-med.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center;
  position: relative;


  overflow: hidden;


  &:after {
    content: '';
    display: block;

    //padding-bottom: 33%;
    position: absolute;
    height: 100%;
    width: 100%;
    left:0;
    top:0;
    //max-height: 18rem;
    background-image: linear-gradient(to top, rgba($primary-color,.75) 0, rgba($primary-color,.333) 66.666% );
  }
  @media #{$medium} {
    background-image: url('../images/inversebg.jpg');
    max-height: 18rem;


    &:after {
      position: static;
      height:auto;
      max-height:18rem;
      padding-bottom: 33%;
    }
  }
  @media #{$xxlarge} {
    max-height: 22rem;
    &:after {
      max-height: 22rem;
    }
  }

}

.single-post .banner {
  background-image: url('../images/tudaster-med.jpg');
  @media #{$medium} {
    background-image: url('../images/tudastar.jpg');
  }
}

.banner.banner--white {
  background-color: #fff;
  background-image: none;
  //border-bottom: 1px solid $gainsboro;
  &:after {
    background-image: none;
  }
}
.banner__text {
    position: relative;
    z-index: 1;
    width:100%;
    margin:2rem 0;
    @media #{$medium} {
      margin: 0;
      position: absolute;
      bottom:20%;
      left:0;
    }
    .banner__title {
      text-transform: uppercase;
      color: $ghost;
      margin: 0;
      line-height: 1;

      .banner--white & {
        //color:scale-color($secondary-color, $lightness: -10%);
        color:$secondary-color;
      }

    }

    .banner__updated, .banner__parentlink {
      position: relative;
      text-transform: uppercase;
      color:$snow;
      font-weight: $font-weight-bold;
      font-size: 1.25rem;
      line-height: 1;
      display: block;
      margin-bottom: .25em;
      padding-bottom: .25em;
      //border-bottom: 1px solid currentColor;

      &:hover {
        color:#fff;
      }
      &:after {
        position: absolute;
        bottom:-.125rem;
        //content:'';
        display: block;
        background-color: currentColor;
        width:1.5rem;
        height: 2px;
      }

      .banner--white & {
        color:$secondary-color;
        color:scale-color($primary-color, $lightness: 10%);
        &:hover {
          color:$secondary-color;
        }
      }

    }


}
