/* --------------------------------
	Basics
-------------------------------- */

html, body {
	min-height: 100%;
	height: auto;

	// @media #{$medium} {
	// 	font-size: 87.5%;
	// }

	// @media #{$xlarge} {
	// 	font-size: 100%;
	// }
}

body {
	// background: $body-bg;
	// color: $default-font-color;
	// padding: 0;
	// margin: 0;
	// font-family: $body-font-family;
	// font-weight: $font-weight-normal;
	// font-style: normal;
	// line-height: 1;
	// position: relative;
	// cursor: default;
	// overflow-x: hidden;
	-webkit-font-smoothing: antialiased;




}


ul, ol {
	> li {
		margin-bottom: $paragraph-margin-bottom/2;
	}
}
img, object, embed {
	max-width: 100%;
	height: auto;
}

object, embed {
	height: 100%;
}

#map_canvas img, #map_canvas embed, #map_canvas object, .map_canvas img, .map_canvas embed, .map_canvas object {
	max-width: none !important;
}

img {
	display: inline-block;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

textarea {
	height: auto;
	min-height: 14em;
}


blockquote {
	> * {
		font-size: 133.333%;
	}
	p {
		line-height: 1.2;
	}
}


@include placeholder() {
	color: lighten($body-font-color, 50%);
	font-style: italic;
}

.browsehappy {
	color: #fffff9;
	background-color: #1f2223;
	padding: 1.2em 0;
	text-align: center;
	position: fixed;
	top: 0; left: 0;
	z-index: 99999;
	width: 100%;
	margin: 0;
	border-bottom: 1px solid #0f1213;
}



/* --------------------------------
	Layout
-------------------------------- */
.container {
  position: relative;
}
.container {

}



.container {
	@media #{$medium} {
		position: relative;
		overflow-x: hidden;
	}

	@media #{$large} {
		width: 77%;
		float:right;
		//margin-left: 21%;
		overflow-x: visible;
	}

}



.intro{
	text-align: center;
	font-size:1.25em;
	font-weight: 700;

	h1{
		font-size: 2.5em;
	}
}



@include breakpoint($medium) {

	.intro {

		h1 {
			font-size: 5em;
		}
	}

	.no-banner .container, .single-post.no-banner .container {
		padding-top: 5.25em;
	}

}

@include breakpoint($large) {
	.intro {
	}
}

#side-nav {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 0.875em;
	margin-top: 4.75em;
	z-index: 1;

	ul {
		padding-left: 1.25em;
	}

	li {
		line-height: 2.15;
	}

	a {
		color: $steel;
		//@include simple-transition(color);

		&:hover {
			color: $primary-color;
		}
	}
	.current_page_item a {
		font-weight: 600;
		color: $primary-color;
	}
}
