/* --------------------------------
	Basics
-------------------------------- */

html, body {
	min-height: 100%;
	height: auto;
}

body {
	background: $body-bg;
	color: $default-font-color;
	padding: 0;
	margin: 0;
	font-family: $body-font-family;
	font-weight: $font-weight-normal;
	font-style: normal;
	line-height: 1;
	position: relative;
	cursor: default;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;


	@media #{$small-only} {
		//@include background-size(265px 263px);
	}
}

img, object, embed {
	max-width: 100%;
	height: auto;
}

object, embed {
	height: 100%;
}

#map_canvas img, #map_canvas embed, #map_canvas object, .map_canvas img, .map_canvas embed, .map_canvas object {
	max-width: none !important;
}

img {
	display: inline-block;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

textarea {
	height: auto;
	min-height: 14em;
}


blockquote {
	> * {
		font-size: 133.333%;
	}
	p {
		line-height: 1.2;
	}
}
.fake-dd {
	color: $body-bg;
	background-color: rgba($quaternary-color, 0.015);
	border: 1px solid rgba($quaternary-color, 0.17);
	width: 100%;
	font-style: italic;
	line-height: 1em;
	vertical-align: middle;
	padding: 0.75em 0.9em 0.9em;
	font-size: 0.9em;

	&:after {
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0.25em 0.25em 0 0.25em;
		border-color: $quaternary-color transparent transparent transparent;
		display: block;
		position: absolute;
		right: 1.8em;
		top: 1.9em;
	}
}

@include placeholder() {
	color: lighten($default-font-color, 50%);
	font-style: italic;
}

.browsehappy {
	color: #fffff9;
	background-color: #1f2223;
	padding: 1.2em 0;
	text-align: center;
	position: fixed;
	top: 0; left: 0;
	z-index: 99999;
	width: 100%;
	margin: 0;
	border-bottom: 1px solid #0f1213;
}



/* --------------------------------
	Layout
-------------------------------- */
.container {
  position: relative;
}
.container {

}



.container {
	@media #{$medium} {
		position: relative;
		overflow-x: hidden;
	}

	@media #{$large} {
		width: 77%;
		float:right;
		//margin-left: 21%;
		overflow-x: visible;
	}

}


	#btn_next { right: emCalc( 15px ); }
	#btn_prev { left: emCalc( 15px ); }


	&.double {
		max-height: 23em;

		&:after {
			padding-top: 27%;
		}

		.img {
			width: 50.1%;
			background-position: center center;

			&.img-2 {
				right: 0;
				left: auto;
			}
		}

		+ main {
			padding-top: 7%;
		}

		@include breakpoint($medium-screen) {

			+ main {
				padding-top: 4em;
			}
		}
	}

	&.map {
		position: relative;

		&:after {
			padding-top: 0;
		}
	}

	&.slim{
		max-height: 15.75em;

		&:after {
			padding-top: 26%;
		}
	}

	.banner-content {
		position: absolute;
		width: 100%;
		height: 100%;
	}


.call-out {
	margin: 2.2em 0;
	text-align: center;

	strong {
		font-style: italic;
		font-size: 1.125em;
	}
	a.button {
		margin: 1.4em 1em 0;
	}

}

.intro{
	text-align: center;
	font-size:1.25em;
	font-weight: 700;

	h1{
		font-size: 2.5em;
	}
}



@include breakpoint($medium-screen) {

	.intro {

		h1 {
			font-size: 5em;
		}
	}

	.no-banner .container, .single-post.no-banner .container {
		padding-top: 5.25em;
	}

}

@include breakpoint($large-screen) {
	.intro {
	}
}

#side-nav {
	font-family: $sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 0.875em;
	margin-top: 4.75em;
	z-index: 1;

	ul {
		padding-left: 1.25em;
	}

	li {
		line-height: 2.15;
	}

	a {
		color: $side-nav-color;
		//@include simple-transition(color);

		&:hover {
			color: $primary-color;
		}
	}
	.current_page_item a {
		font-family: $sans-serif;
		font-weight: 600;
		color: $primary-color;
	}
}
