/* --------------------------------
	Basics
-------------------------------- */

html, body {
	min-height: 100%;
	height: auto;
}

body {
	background: $body-bg;
	color: $default-font-color;
	padding: 0;
	margin: 0;
	font-family: $body-font-family;
	font-weight: $font-weight-normal;
	font-style: normal;
	line-height: 1;
	position: relative;
	cursor: default;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;


	@media #{$small-only} {
		//@include background-size(265px 263px);
	}
}

img, object, embed {
	max-width: 100%;
	height: auto;
}

object, embed {
	height: 100%;
}

#map_canvas img, #map_canvas embed, #map_canvas object, .map_canvas img, .map_canvas embed, .map_canvas object {
	max-width: none !important;
}

img {
	display: inline-block;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

textarea {
	height: auto;
	min-height: 14em;
}

.fake-dd {
	color: $body-bg;
	background-color: rgba($quaternary-color, 0.015);
	border: 1px solid rgba($quaternary-color, 0.17);
	width: 100%;
	font-style: italic;
	line-height: 1em;
	vertical-align: middle;
	padding: 0.75em 0.9em 0.9em;
	font-size: 0.9em;

	&:after {
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0.25em 0.25em 0 0.25em;
		border-color: $quaternary-color transparent transparent transparent;
		display: block;
		position: absolute;
		right: 1.8em;
		top: 1.9em;
	}
}

@include placeholder() {
	color: lighten($default-font-color, 50%);
	font-style: italic;
}

.browsehappy {
	color: #fffff9;
	background-color: #1f2223;
	padding: 1.2em 0;
	text-align: center;
	position: fixed;
	top: 0; left: 0;
	z-index: 99999;
	width: 100%;
	margin: 0;
	border-bottom: 1px solid #0f1213;
}

/* --------------------------------
	Navigation
-------------------------------- */

#main-nav {
	background: $gray-extralight;
	height: 64px;
	overflow: hidden;
	width: 100%;
	z-index: 3;

	@media only screen and (max-width: $large-screen) {
		&.on {
			height: auto;
		}
	}

	@media #{$large} {
		width: 21%;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		padding: 5% 4% 0;
	}
}



.title-area {
	list-style-type: none;
	//height: 56px;
	padding: 0;
	margin: 0;
	color: white;

	@media #{$large} {
			margin-bottom: 3em;
	}

}

.name {
	a {
		display: block;
		line-height: 1;
		color: $menu-color;
		width: 75%;
		padding: .875em 0 .875em 2.5em;
		font-size: emCalc(22px);
		font-weight: 700;
		text-transform: uppercase;
		margin: 0;
		background-image: url('../images/logo.png');
		background-repeat:no-repeat;
		background-position: .75em center;
		background-size: auto 50%;
		@media #{$large} {
			width: 100%;
			padding:4em 0 0;
			background-image: url('../images/logo.png');
			background-repeat:no-repeat;
			background-position: center top;
			background-size: 33% auto;
		}


	}


}

.menu-toggle {
	position: absolute;
	right: 15px;
	top: 15px;
	width: 80px;
	height: 44px;

	a {
    text-align: right;
    width: 100%;
    height: 2.05em;
    display: block;
    line-height: 1;
    padding: 0;
    color: $green;

		span {
			width: 0;
			height: 0;
			font-size: 1.7em;
			vertical-align: top;
		}
	}

	@media #{$large} {
		display: none;
	}

}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#mm {
	z-index: 4;
	position: relative;

	li {
		display: block;
		width: 100%;
		position: relative;
	}

	a {
		display: block;
		padding: 1.333em 1.75em;
		line-height: 1.25;
		background-color: $gray-light;
		border-bottom: solid 1px $gray-extralight;
		color: $menu-color;
		font-size: 1em;
		text-transform: uppercase;
		font-family: $sans-serif;
		font-weight: 400;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;

			@include breakpoint($large-screen) {
				display: none;
			}
		}

		&:hover {
			color: black;
			background-color: lighten($gray-light, 5%);
		}

	}

	.current-menu-item a, .current-page-parent a {
	//, .single-careers & #menu-item-32 a,.single-post & #menu-item-34 a,.author & #menu-item-28 a*/ {
		color: black;
	}

	.sub-menu a {
		padding-left: 1.5em;
		background-color: darken(black, 10%);
	}


	@media #{$large} {
		height: auto;
		float: none;

		li {
			display: block;
			height: auto;
		}

		a {
			padding:.666em 0;
			border-bottom: none;
			background-color:transparent;
			&:hover {
				background-color:transparent;
				color:black;
			}

		}

		.sub-menu {
			display: none;
			a {
				padding:.75em 0;
				color: $green;
				font-weight: 400;
				font-family: $sans-serif;
			}

			.current-menu-item a {
				color: black;
			}
		}

		}


}

.sub-menu {
	height: 0;
	overflow: hidden;
	margin-left: 0;
	background-color: black;

	&:before {
		@extend %icon;
		content: "\e609";
		position: absolute;
		top: 0;
		right: 0;
		top: 1.3333em;
		right: 1.3333em;
		color: $body-bg;

		@include breakpoint($medium-screen) {
			display: none;
		}
	}

	&.on {
		height: auto;

		&:before {
			content: "\e60a";
		}
	}

	@media #{$medium-only} {
		& {
			display: none;
		}
	}


	@media #{$large} {
		display: none;
		background-color: transparent;
		position: relative;
		height: auto;
		text-align: left;
		margin-left: 1em;
		margin-bottom: .666em;
		top: 0;
		padding: 0;

		a {
			text-transform: none !important;
			font-weight: 400 !important;
			font-size: .875em !important;
			background-color: transparent !important;
			padding:.333em 0 !important;

			&:hover {
				color: black !important;
			}

		}

		li {
			height: auto;
			line-height: 1.25;
		}

		#mm .current_page_item &,
		#mm .current-page-ancestor & {
			display: block;
		}
	}
}





@media #{$medium} {

	#container {
		position: relative;
		overflow-x: hidden;
	}


}


@media #{$large} {

	#container {
		width: 79%;
		margin-left: 21%;
		overflow-x: visible;
	}




}


/* --------------------------------
	Layout
-------------------------------- */

.no-banner {
	#container {
		padding-top: 2.25em;
	}
	&.blog #container,
	&.single-post #container {
		padding-top: 0;
	}
}

#banner {
	background-color: $menu-color;
	background-image: url('../images/headerbg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	max-height: 28.9em;
	overflow: hidden;
	@media screen and (max-height: 56em) {
		& {
			max-height: 23em;
		}
	}

	&:after {
		content: '';
		display: block;
		width: 100%;
		padding-bottom: 41.33333%;
		max-height: 28.9em;
		overflow: hidden;
		background-image: linear-gradient(to top, rgba(black,.75) 0, rgba(black,.1) 66.666% );


	}
	@media screen and (max-height: 56em) {
			&:after {
				max-height: 23em;
			}
		}
	.img {
		position: absolute;
		top: 0;
		left: 0;
		background-size: cover;
		background-position: 0% center;
		width: 100%;
		height: 100%;
		max-height: 28.9em;
		-webkit-transition: background-position 1s;
				transition: background-position 1s;
	}

	.banner__text {
			position: absolute;
			bottom:15%;
			left:0;
			width:100%;
			.banner__title {
				text-transform: uppercase;

				color: $gray-extralight;
				font-weight:300;
				//font-size: rem-calc(60);
				margin: 0;
				line-height: 1;
				@media #{$medium} {
					font-size: rem-calc(40);
				}
				@media #{$large} {
					font-size: rem-calc(50);
				}
				@media #{$xlarge} {
					font-size: rem-calc(60);
				}
			}

			.banner__parentlink {
				//text-transform: uppercase;
				color:$gray-light;
				font-weight: 300;
				font-size: 1.333em;
				line-height: 1;
				display: inline-block;
				margin-bottom: .5em;
				padding-bottom: .25em;
				border-bottom: 1px solid currentColor;

				&:hover {
					color:white;
				}
			}


		}

	#btn_next { right: emCalc( 15px ); }
	#btn_prev { left: emCalc( 15px ); }


	&.double {
		max-height: 23em;

		&:after {
			padding-top: 27%;
		}

		.img {
			width: 50.1%;
			background-position: center center;

			&.img-2 {
				right: 0;
				left: auto;
			}
		}

		+ main {
			padding-top: 7%;
		}

		@include breakpoint($medium-screen) {

			+ main {
				padding-top: 4em;
			}
		}
	}

	&.map {
		position: relative;

		&:after {
			padding-top: 0;
		}
	}

	&.slim{
		max-height: 15.75em;

		&:after {
			padding-top: 26%;
		}
	}

	.banner-content {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}

.call-out {
	margin: 2.2em 0;
	text-align: center;

	strong {
		font-style: italic;
		font-size: 1.125em;
	}
	a.button {
		margin: 1.4em 1em 0;
	}

}

.intro{
	text-align: center;
	font-size:1.25em;
	font-weight: 700;

	h1{
		font-size: 2.5em;
	}
}



@include breakpoint($medium-screen) {

	.intro {

		h1 {
			font-size: 5em;
		}
	}

	.no-banner #container, .single-post.no-banner #container {
		padding-top: 5.25em;
	}

}

@include breakpoint($large-screen) {
	.intro {
	}
}

#side-nav {
	font-family: $sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 0.875em;
	margin-top: 4.75em;
	z-index: 1;

	ul {
		padding-left: 1.25em;
	}

	li {
		line-height: 2.15;
	}

	a {
		color: $side-nav-color;
		//@include simple-transition(color);

		&:hover {
			color: $primary-color;
		}
	}
	.current_page_item a {
		font-family: $sans-serif;
		font-weight: 600;
		color: $primary-color;
	}
}
