select {
  box-sizing:border-box;
}


.right-off-canvas-menu {
  @media #{$small} {
    width:rem-calc(320);
  }
  @media #{$medium} {
    width:rem-calc(450);
  }
  @media #{$xlarge} {
    width:rem-calc(550);
  }
}

.move-left > .inner-wrap {
  @media #{$small} {
    transform: translate3d( - rem-calc(320),0,0);
  }
  @media #{$medium} {
    transform: translate3d( - rem-calc(450),0,0);
  }
  @media #{$xlarge} {
    transform: translate3d( - rem-calc(550),0,0);
  }
}

.contactwrap {
  padding-top:1em;
  padding-right: 1em;
  .row {
    width:95%;
  }
  @media #{$small} {
    padding-top:1.5em;
  }
  @media #{$medium} {
    padding-top:2em;
    .row {
      width:85%;
    }
  }
  @media #{$large} {
  }
  @media #{$xlarge} {
  }

  label {
    display:none;
  }
}



.pagesection--gmap {
  background-color: $gray;
  min-height: 40vh;
}

.mapcanvas {
  position: absolute;
  left:0;
  top:0;
  height:100%;
  width:100%;
}