input:not([type]), input[type=number], input[type=search], input[type=text], input[type=password], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=email], input[type=tel], input[type=time], input[type=url], input[type=color], textarea {
  font-weight: $font-weight-bold;
}

// select {
//   box-sizing:border-box;
// }


.right-off-canvas-menu {
  @media #{$small} {
    width:rem-calc(360);
  }
  @media #{$medium} {
    width:rem-calc(450);
  }
  @media #{$xlarge} {
    width:rem-calc(550);
  }
}

.move-left > .inner-wrap {
  @media #{$small} {
    transform: translate3d( - rem-calc(360),0,0);
  }
  @media #{$medium} {
    transform: translate3d( - rem-calc(450),0,0);
  }
  @media #{$xlarge} {
    transform: translate3d( - rem-calc(550),0,0);
  }
}

.contactwrap {
  position: fixed;
  top:0;
  padding:1rem 0;
  color:$white;

  h2 {
    font-size: 3.25rem;
    color:inherit;
    text-transform: uppercase;
    text-align: center;
    color:$white;
    line-height: 1;
    span {
      display: block;
      font-size: 66.666%;
      color:$secondary-color;
    }
    margin-bottom: 1rem;
  }
  p {
    text-align: center;
    font-weight: $font-weight-bold;
    opacity:.75;
  }
  .row {
    width:95%;
  }
  @media #{$small} {
    padding-top:1.5em;
  }
  @media #{$medium} {
    padding-top:2em;
    .row {
      width:85%;
    }
  }


  label {
    //display:none;
  }

  [data-abide] .error label.error {
    color:inherit;

  }

  // [data-abide] small.error {

  // }

  [data-abide] .error small.error {
    margin-bottom:0;
    display: inline;
    flaot:right;
  }
  .error input, .error select, .error textarea {
    margin-bottom: 1.25rem;
  }
}




.pagesection--gmap {
  background-color: $silver;
  min-height: 50vh;
}

.mapcanvas {
  position: absolute;
  left:0;
  top:0;
  height:100%;
  width:100%;
}