.gallery {

}

.gallery__item {
  > div > a {
    display: block;
    background-color: $gainsboro;
    padding:2px;
    &:hover, &:focus{
      background-color: $secondary-color;
    }
    > img {
      border:2px solid #fff;
      display: block;
    }
  }
  // img {
  //   display:block;
  //   border:4px solid $gainsboro;
  // }

}

.page-template-template-kapcsolat {
  .gallery__item {
    > div > a {
      background-color: transparent;
      &:hover, &:focus{
        background-color: transparent;
      }
      > img {
        border-color:transparent;
      }
    }
  }
}

