/* --------------------------------
  Navigation
-------------------------------- */

.move-right  {
  > .inner-wrap {
    @media #{$large} {
      transform: translate3d(0,0,0);
    }
  }
  .exit-off-canvas {
    //box-shadow: -4px 0 4px rgba(0,0,0,.5),4px 0 4px rgba(0,0,0,.5);
    @media #{$large} {
      display: none;
    }

  }
}

.left-off-canvas-menu {
  //background-color: $gainsboro;
  @media #{$large} {
    width:23%;
    height:100%;
    position: fixed;
    transform: translate3d(0,0,0);
  }
}
.theleftside {
  position: relative;

  //overflow: hidden;
  //width: 100%;
  //height: 100vh;
  padding: 25% 18% 0;
  //margin-top: 5vh;

  @media #{$xxlarge} {
    padding: 25% 27% 0;
  }
}


#lang_sel_list {
  ul {
    position: absolute;
    top:5.6666%;
    //text-align: center;
    width:100%;
    list-style-type: none;
    margin:0 0 0 0;
    text-transform:uppercase;
    font-size: .875rem;
    font-weight: $font-weight-bold;
    color:$aluminum;
    li {
      margin:0;
      display: inline-block;
      &:not(:last-child):after {
        content:' | ';
        display: inline-block;

        margin:0 .25em;
      }
      a {
        color:inherit;
        &:hover, &:focus {
          color:$secondary-color;
        }
      }
    }
  }
}

.linktoensite {
  margin-top: 1.5rem;
  display: block;

  display: block;
  font-size: .875rem;
  line-height: 1;
}

.title-area {
  list-style-type: none;
  //height: 56px;
  padding: 0;
  margin: 0;
  color: white;
}

.sitename {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    line-height: 1;
    color: $white;
    padding: .875em 0 .875em 2.5em;
    font-size: 1rem;
    font-weight: $font-weight-bold;
    color:transparent;

    text-transform: uppercase;
    margin: 0;
    padding:0;
    width: 10rem;
    height: 2.5rem;
    background-image: url('../images/logo_b.png');
    background-repeat:no-repeat;
    background-position: left center;
    background-size: 100% auto;
    &:hover, &:focus {
      opacity:.75;
    }
    @media #{$xlarge} {
      width:11rem;
      height:2.75rem;
    }

}


.mobilehead {
  @include clearfix();
  position: relative;
  width:100%;
  //height:3.333rem;
  background-color: $primary-color;
  z-index: 1;
  //overflow: hidden;
  @media #{$large} {
    background-color: transparent;
    position: absolute;
    left:0;
    top:0;
  }
}

.mobilelogo {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  color: $white;
  font-size: 1rem;
  line-height: 1;
  font-weight: $font-weight-bold;
  //background-color: red;
  color:transparent;
  text-transform: uppercase;
  margin: 0 0;
  width: 9rem;
  height: 3.25rem;
  padding:0;
  //background-color: red;
  background-image: url('../images/logo_b.png');
  background-repeat:no-repeat;
  background-position: left center;
  background-size: auto 66.666%;
  &:hover, &:focus {
    opacity:.75;
  }

  @media #{$large} {
    display: none;
  }
}

.roctl {
  position: absolute;
  right: 6.875rem;
  top:.666rem;
  z-index: 1;
  padding:.5rem .5rem !important;
  margin:0;
  //background-color: $secondary-color;
  @media #{$medium} {
    //right:1rem;
    //top:.333rem;
    //padding:1rem .875rem !important;

  }
  @media #{$large} {
    display: none;
  }

}

.left-off-canvas-toggle {
  position: absolute;
  display: inline-block;
  color:$white;
  right:1.25rem;
  top:.666rem;
  padding:.125rem .5rem 0 .5rem;
  color:$secondary-color;
  border:1px solid currentColor;
  //background-color: $secondary-color;
  line-height: 1.666;
  text-transform: uppercase;
  font-weight: $font-weight-bold;


  i {
   font-size: 1rem;
  }
  @media #{$medium} {
    //top:.333rem;
  }
  @media #{$large} {
    display: none;
  }
}