.menu, .sub-menu {
  list-style-type: none;
  margin:0;
  padding:0;
}

.nav--side {
  a {
    color:$white;
    &:hover, &:focus {
      color:rgba($white,.75)
    }
  }
}

.menu--pri {
  margin:15% 0;
  > li {
    //margin-bottom: .5rem;
    > a {
      display: block;
      text-transform: uppercase;
      padding:.666rem 0;
      font-size: .875rem;
      line-height: 1.2;
    }


    &.active .sub-menu {
      display: block;
    }
  }


  .sub-menu {
    margin:0 0 .5rem 0;
    display:none;
    > li {
      > a {
        display: block;
        padding:.333rem 0 .333rem 1rem;
        font-size: .875rem;
        line-height: 1.2;
        text-transform: none;
      }
    }



  }

}


.menu--sec {
  border-top: 1px solid rgba($white,.25);
  margin:15% 0 0;
  padding:15% 0 0;
  > li {
    > a {
      display: block;
      padding:.5rem 0;
      font-size: .875rem;
      line-height: 1.2;

    }


  }
}


