dl {
  @include clearfix();
  line-height: 1.2;
  font-size: .875rem;
  margin-bottom: 0;

  dt {
    padding:.75rem .75rem .75rem 0;
    width: 33.333%;
    float:left;
    clear:both;
    margin:0;
    &:not(:first-of-type) {
      border-top: 1px solid $gainsboro;
    }

  }

  dd {
    clear:right;
    float:right;
    margin:0;
    padding:.75rem 0 .75rem .75rem;
    width: 66.666%;
    &:not(:first-of-type) {
      border-top: 1px solid $gainsboro;
    }

  }
}


// dl {
//   margin: $paragraph-margin-bottom 0;
//   dt {
//     text-transform: uppercase;
//     font-weight: $font-weight-normal;
//     line-height: 1;
//     margin:0;
//     padding: .75rem 0 1.25rem 0;
//     float:left;
//     clear:both;
//     max-width: 33.333%;
//     .icon {
//       color:$primary-color;
//       width:3rem;
//       display: inline-block;
//       text-align: center;
//       font-style: normal;
//       font-weight: 700;
//     }

//   }
//   dd {
//     line-height: 1;
//     padding: .75rem 0 1.25rem 10rem;
//     &:not(:last-child) {
//       border-bottom: 1px solid $gainsboro;
//       margin:0 0 .5rem;
//     }
//   }
// }

b, strong {
  font-weight: 600;
}


.pagesection {
  //@include clearfix();
  position: relative;
  padding-top:4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid $silver;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  &:nth-of-type(2n) {
    background-color: $ghost;
  }
}

.pagesection--narrow {
  padding-top:1.5rem;
  padding-bottom: 1.5rem;
}
.pagesection--darken {
  background-color: $ghost;
  &:nth-of-type(2n) {
   background-color: $ghost;
  }
}

.pagesection--lighten {
  background-color: $white;
  &:nth-of-type(2n) {
    background-color: $white;
  }
}

.pagesection--inverse {
  background-color: rgba($primary-color,.98);
  //background-image: url('../images/nature.jpg');
  background-position: center bottom;
  color:$snow;
  h2 {
    color:inherit;
  }
  a {
    color:inherit;
    &:hover, &:focus {
      color:$white;
    }
  }
  &:nth-of-type(2n) {
     background-color: rgba($primary-color,.98);
  }
}

.pagesection--details {
  background-image: url('../images/inversebg-med.jpg');
  @media #{$medium} {
    background-image: url('../images/inversebg.jpg');
  }
}

.pagesection__title {
  text-transform: uppercase;
}
.pagesection__readmore {
  font-style: italic;
}
.pagesection--intro {
  p {
    font-size: 1.125rem;

  }
  p:last-of-type {
    margin-bottom: 0;
  }
  blockquote {
    margin-top: $paragraph-margin-bottom;
  }
  .button {
     margin-top: $paragraph-margin-bottom*1.25;
  }

  .single-termek &, .single-post & {
    padding-top: 0;
  }

}

.pagesection--berendezesek-0, .pagesection--termekek {
  background-image: url('../images/nature.jpg')
}

.pagesection--refs {
  //background-image: url('../images/aramtorony.jpg');
  h2 {
    //color:white;

  }
}

.pagesection.post, .pagesection.type-page, .pagesection.pagesection--relatedprods, .pagesection.pagesection--prodvariant {
  background-color: #fff;
}


[class*=block-grid-] {
  margin-top: 2em;
}
.subpageslist {
  list-style-type: none;
  margin:1rem 0 0;
  li {
    &:not(:last-child) {
      border-bottom: 1px solid $aluminum;
    }
    &:hover {
      //background-color: rgba($white,.25)
    }
  }
  li > a {
    position: relative;
    display: block;
    padding:.5rem 0 .875rem;
    font-size: 1.25em;
    color:$smoke;
    font-weight: 600;
    line-height: 1.125;
    i {
      float:right;
      margin-right: 0;
      //display: inline-block;
    }
    &:hover, &:focus {
      color:$white;
      text-shadow:0 0 1px $primary-color;
      //padding-left: 1rem;
      i {
        margin-right: 2rem;
      }
    }
  }
}

.referenciagrid {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.refsquare {
  background-color: white;
  border:1px solid $gainsboro;
  padding:1rem;
  width:100%;
}
.refsquare__fig {
  margin:-1rem -1rem 1rem;
  padding:0;
}
.refsquare__title {
  //margin-bottom: 0;
  //font-size: rem-calc(18);
}

.refsquare__area {
  font-size: rem-calc(14);
  margin: 0 0 .5rem;
  line-height: 1.2;
}


.refsquare__descr {
  font-size: rem-calc(14);
   margin: 0 0 .5rem;
}

.refsquare__more {
  font-size: rem-calc(14);
}

.termekgrid {
  margin-top:4rem;
  margin-bottom: 4rem;
}
.termsquare {
  position: relative;
  background-color: white;
  padding:1rem 1rem;
  margin: 1rem 0;
  &:before {
    z-index:-1;
    content:'';
    position: absolute;
    left:2px;
    width:100%;
    top:2px;
    height:100%;
    border-bottom: 2px solid $secondary-color;
    border-right: 2px solid $secondary-color;
  }
}

.termsquare__fig {
  margin:0 auto 1rem;
  padding:0 0;
  //background-color: $body-bg;
  max-width:10rem;

  @media #{$small} {
    margin:0 0;
    width:29%;
    position: absolute;
    top:-1.5rem;
    right:1rem;
  }
}
.termsquare__title {
  border-top:1px solid $body-bg;
  padding-top: 1rem;
  margin-bottom: 0;
  //font-size: rem-calc(22);
  color:black;
  @media #{$small} {
    border-top:none;
    padding-top: 0;
    margin-right: 30%;
  }
}

.termsquare__area {
  font-size: rem-calc(14);
  margin: 0 0 .5rem;
  line-height: 1.2;
}

.termsquare__descr {
  font-size: rem-calc(14);
  margin: 0 0 .5rem;
}
.termsquare__more {
  font-size: rem-calc(14);
  line-height: 1;
  //display: none;
}

.pagesection--relatedprods {
  @media #{$xlarge} {
    .miniprod:nth-of-type(4n) {
      display: none;
    }
  }
}

