dl {
  @include clearfix();
  line-height: 1.2;
  font-size: .875rem;
  margin-bottom: 0;

  dt {
    padding:.75rem .75rem .75rem 0;
    width: 33.333%;
    float:left;
    clear:both;
    margin:0;
    &:not(:first-of-type) {
      border-top: 1px solid $gainsboro;
    }

  }

  dd {
    clear:right;
    float:right;
    margin:0;
    padding:.75rem 0 .75rem .75rem;
    width: 66.666%;
    &:not(:first-of-type) {
      border-top: 1px solid $gainsboro;
    }

  }
}


// dl {
//   margin: $paragraph-margin-bottom 0;
//   dt {
//     text-transform: uppercase;
//     font-weight: $font-weight-normal;
//     line-height: 1;
//     margin:0;
//     padding: .75rem 0 1.25rem 0;
//     float:left;
//     clear:both;
//     max-width: 33.333%;
//     .icon {
//       color:$primary-color;
//       width:3rem;
//       display: inline-block;
//       text-align: center;
//       font-style: normal;
//       font-weight: 700;
//     }

//   }
//   dd {
//     line-height: 1;
//     padding: .75rem 0 1.25rem 10rem;
//     &:not(:last-child) {
//       border-bottom: 1px solid $gainsboro;
//       margin:0 0 .5rem;
//     }
//   }
// }

b, strong {
  font-weight: 600;
}

.homebanner {
  padding:0;
  background-color: $menu-color;
  background-image: url('../images/boys.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  .row {
    max-width: none;

  }
}
.hometile {
  position: relative;
  margin:0;
  background-color: rgba(darken($green,10),.5);
  height:12em;
  padding:1em;
  color:white;
  &.light {
    background-color: rgba(darken($green,10),.875);
  }
  &.light2 {
    background-color: rgba(darken($green,10),.66);
  }
  &.light3 {
    background-color: rgba(darken($green,10),.666);
  }

  &:hover {
    background-color: rgba($green-light,.875);
  }

  h2 {
    color:inherit;
    margin-bottom: 0;
    text-transform: uppercase;
    @media #{$medium} {
      font-size:4vh;
      max-width: 9em;
    }
    a {
      color:inherit;
    }
  }
  p {
    margin-top: 0;
  }
  @media #{$medium} {
   height:33.333vh;
  }
  @media #{$large} {
    height:33.333vh;
  }
}
.pagesection {
  //@include clearfix();
  position: relative;
  padding-top:4em;
  padding-bottom: 4em;
  border-bottom: 1px solid $gray-extralight;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  &:nth-of-type(2n+1) {
    background-color: white;
  }

}
.pagesection--darken {
  background-color: $gray-light;
  &:nth-of-type(2n+1) {
    background-color: inherit;
  }
}

.pagesection--lighten {
  background-color: white;
  &:nth-of-type(2n+1) {
    background-color: inherit;
  }
}

.pagesection--inverse {
  background-color: rgba($green,.25);
  background-image: url('../images/nature.jpg');
  background-position: center bottom;
  color:$gray-extralight;
  h2 {
    color:inherit;
  }
  a {
    color:inherit;
    &:hover, &:focus {
      color:$white;
    }
  }
  &:nth-of-type(2n+1) {
    background-color: inherit;
  }
}

.pagesection--intro {
  p {
    font-size: 1.125rem;
  }

}

.pagesection--berendezesek-0, .pagesection--termekek {
  background-image: url('../images/nature.jpg')
}

.pagesection--refs {
  background-image: url('../images/aramtorony.jpg');
  h2 {
    color:white;

  }
}


[class*=block-grid-] {
  margin-top: 2em;
}
.subpageslist {
  li > a {
    font-size: 1.25em;
    //color:$green-light;
    font-weight: 600;
    line-height: 1.125;
  }
}

.referenciagrid {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.refsquare {
  background-color: white;
  border:1px solid $gray-extralight;
  padding:1rem;
  width:100%;
}
.refsquare__fig {
  margin:-1rem -1rem 1rem;
  padding:0;
}
.refsquare__title {
  //margin-bottom: 0;
  //font-size: rem-calc(18);
}

.refsquare__area {
  font-size: rem-calc(14);
  margin: 0 0 .5rem;
  line-height: 1.2;
}


.refsquare__descr {
  font-size: rem-calc(14);
   margin: 0 0 .5rem;
}

.refsquare__more {
  font-size: rem-calc(14);
}

.termekgrid {
  margin-top:4rem;
  margin-bottom: 4rem;
}
.termsquare {
  position: relative;
  background-color: white;
  padding:1rem 1rem;
  margin: 1rem 0;
  &:before {
    z-index:-1;
    content:'';
    position: absolute;
    left:2px;
    width:100%;
    top:2px;
    height:100%;
    border-bottom: 2px solid $green-light;
    border-right: 2px solid $green-light;
  }
}

.termsquare__fig {
  margin:0 auto 1rem;
  padding:0 0;
  //background-color: $body-bg;
  max-width:10rem;

  @media #{$small} {
    margin:0 0;
    width:29%;
    position: absolute;
    top:-1.5rem;
    right:1rem;
  }
}
.termsquare__title {
  border-top:1px solid $body-bg;
  padding-top: 1rem;
  margin-bottom: 0;
  //font-size: rem-calc(22);
  color:black;
  @media #{$small} {
    border-top:none;
    padding-top: 0;
    margin-right: 30%;
  }
}

.termsquare__area {
  font-size: rem-calc(14);
  margin: 0 0 .5rem;
  line-height: 1.2;
}

.termsquare__descr {
  font-size: rem-calc(14);
  margin: 0 0 .5rem;
}
.termsquare__more {
  font-size: rem-calc(14);
  line-height: 1;
  //display: none;
}



/***** post quare *****/

.postsquare {
  position: relative;
  z-index: 1;
  margin: 2rem auto;
  max-width: em-calc(480);
}
.postsquare__fig {
  margin:0 0 1rem;
  padding:0;
}

.postsquare__updated {

}
.postsquare__title {
  text-transform: uppercase;
  font-size: 1.25rem;
  a {
    color:inherit;
  }
}
.postsquare__summary {
  p {
    font-size: .875rem;
  }
}

.postsquare__more {
  margin-top: $paragraph-margin-bottom;
}

.filterlist {
  list-style-type: none;
  margin:0;
  padding:0;
  text-align: right;
  line-height: 1;
  //font-size: 1em;
  //font-weight: 700;
  //text-transform: uppercase;
  li {
    display: inline-block;
    > a {
      display: inline-block;
      background-color: $green-light;
      color:white;
      padding:.5em .666em;
      margin:0 .25em .333em 0;
      &:hover, &.active {
        background-color: $green;
      }
    }
  }


}