.prodvariant__photo {
  margin:0 auto;
  padding:0;
  text-align: center;
  max-width: em-calc(420);
}


.prodvariant__subtitle {
  font-size: 1.125rem;
  font-weight: $font-weight-bold;
  color: $header-font-color;
}
.prodvariant__content {
  h2 {
    //color:scale-color($primary-color, $lightness:15%);
  }
}


.termekblokk__title {
  a {
    color:inherit;
    &:hover, &:focus {
      color:$secondary-color;
    }
  }
}
.miniprodblock {
  //margin-top: 2rem;
}
.miniprod {
    //margin-top: 0;
  // .page-template-template-termekek & {
  //   margin-bottom: 0;
  // }
}

.miniprod__fig {
  margin:0 0 1rem;
  padding:0;
  img {
    //max-width: 75%;
  }
}

.miniprod__title {
  // font-size: 1.333rem;
  //text-transform: uppercase;
  margin-top: 0;
  color:inherit;

  // .pagesection--relatedprods & {
  //   font-size: 1.125rem;
  // }

  a {
    color:inherit;
    //color:scale-color($primary-color, $lightness:15%);
    &:hover, &:focus {
      color:$secondary-color;
      //color:scale-color($primary-color, $lightness:15%);
    }
  }

  .page-template-template-termekek & {
    text-transform: none;
    font-size: 1.25rem;
  }
}

.miniprod__list {
  list-style-type: none;
  margin: 0 0 .25rem;
  font-size: 1rem;
  line-height: 1.4;
  //font-weight: $font-weight-bold;
  .pagesection--relatedprods & {
    font-size: .875rem;
  }

  li {
    padding:0;
    margin:0;
    display: inline;
    &:not(:first-child):before {
      content:'';
      display: inline-block;
      width:.333em;
      background-color: $secondary-color;
      height:.333em;
      margin:0 .25rem;
      transform:translateY(-.125rem);
    }

    a {
      color:inherit;


      &:hover, &:focus {
        color:$secondary-color;
        //color:scale-color($primary-color, $lightness:15%);
      }
    }
  }

  .page-template-template-termekek &  {
    //display: none;
  }
}




.miniprod__more {
  margin-top: 1rem;
  .page-template-template-termekek &{
    display: none;
  }
}

.accordion .accordion-navigation {
  border-top:1px solid $gainsboro;

  // &:not(:first-child) {
  //   border-top:1px solid $gainsboro;
  // }
  > a {
    position: relative;
    font-weight: $font-weight-bold;
    padding-left: 0;
    padding-right:0;
    &:after {
      position: absolute;
      content: "\f218";
      right: .5rem;
      top:1rem;

      display: inline-block; font-family: "Ionicons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; text-rendering: auto; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;

    }
    &:hover {
      //color:$secondary-color;
      color:scale-color($primary-color, $lightness:15%);

    }
  }
}
.dlfile {
  display: inline-block;
  font-weight: $font-weight-bold;
  color:$white;
  //border:1px solid currentColor;
  padding:.333rem .75rem;
  margin:0 0 .5rem;
  font-size: .875rem;
  background-color: rgba($primary-color,1);
  &:hover, &:focus {
    background-color: $secondary-color;
    color:$white !important;
  }
}

